jenkins.{$DOMAIN} {
  reverse_proxy jenkins:8080
  {$TLS_MODE}
}

nexus.{$DOMAIN} {
  reverse_proxy nexus:8081
  {$TLS_MODE}
}

registry.{$DOMAIN} {
  reverse_proxy registry:5000

  header {
    # Required for Docker Registry API
    Docker-Distribution-Api-Version "registry/2.0"
  }

  {$TLS_MODE}
}

docker.{$DOMAIN} {
  reverse_proxy registry-ui:80
  {$TLS_MODE}
}