version: '3.9'

services:
  jenkins:
    build:
      context: ./
      dockerfile: jenkins.Dockerfile
    ports:
      - '${CICD_JENKINS_PORT}:8080'
    environment:
      - JAVA_OPTS="-Dmail.smtp.starttls.enable=true -Dorg.jenkinsci.plugins.durabletask.BourneShellScript.HEARTBEAT_CHECK_INTERVAL=86400"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ${CICD_VOLUME_DIR}/jenkins_home:/var/jenkins_home
    restart: unless-stopped

  nexus:
    image: sonatype/nexus3:3.85.0
    ports:
      - '${CICD_NEXUS_PORT}:8081'
    volumes:
      - ${CICD_VOLUME_DIR}/nexus-data:/nexus-data

  registry:
    image: registry:3.0.0
    ports:
      - '${CICD_REGISTRY_PORT}:5000'
    environment:
      REGISTRY_HTTP_HEADERS_Access-Control-Allow-Origin: '[http://localhost]'
      REGISTRY_HTTP_HEADERS_Access-Control-Allow-Methods: '[HEAD,GET,OPTIONS,DELETE]'
      REGISTRY_HTTP_HEADERS_Access-Control-Allow-Headers: '[Authorization,Accept,Cache-Control]'
      REGISTRY_HTTP_HEADERS_Access-Control-Expose-Headers: '[Docker-Content-Digest]'
    volumes:
      - ${CICD_VOLUME_DIR}/docker-registry:/var/lib/registry
      - ./registry-config.yml:/etc/docker/registry/config.yml

  registry-ui:
    image: joxit/docker-registry-ui:2.5.7
    ports:
      - '${CICD_REGISTRY_UI_PORT}:80'
    environment:
      - NGINX_PROXY_PASS_URL=http://registry:5000
      - SINGLE_REGISTRY=true
      - DELETE_IMAGES=false
      - THEME=dark
    depends_on:
      - registry
