jenkins.{$CADDY_DOMAIN} {
  reverse_proxy jenkins:8080
  {$CADDY_TLS_MODE}
}

nexus.{$CADDY_DOMAIN} {
  reverse_proxy nexus:8081
  {$CADDY_TLS_MODE}
}

registry.{$CADDY_DOMAIN} {
  reverse_proxy registry:5000

  header {
    # Required for Docker Registry API
    Docker-Distribution-Api-Version "registry/2.0"
  }

  {$CADDY_TLS_MODE}
}

docker.{$CADDY_DOMAIN} {
  reverse_proxy registry-ui:80
  {$CADDY_TLS_MODE}
}